---
import { Icon } from "astro-icon/components";

import Layout from "@layouts/Layout.astro";
---

<Layout title="Contact Us">
	<div
		class="text-center text-[3rem] min-h-[100dvh] py-[10rem] grid place-content-center"
		dir="ltr"
	>
		<p>
			For questions and information about our products, you can contact us
			by phone or WhatsApp on the following number:
		</p>
		<div
			dir="ltr"
			class="hover:underline flex gap-4 justify-center items-center text-skin-accent-1"
		>
			<Icon name="ic:baseline-whatsapp" />
			<a
				href="#"
				target="_blank"
				rel="noopener noreferrer"
			>
				[CONTACT_NUMBER]
			</a>
		</div>
		<!-- WhatsApp contact number removed for privacy -->
		<br />
		Or you can send us an email on the following address:
		<br />
		<span
			dir="ltr"
			class="flex gap-4 justify-center items-center text-skin-accent-1"
		>
			<Icon name="ic:twotone-email" />
			<a href="#" class="hover:underline">
				[CONTACT_EMAIL]
			</a>
		</span>
	</div>
</Layout>
