---
import Layout from '@layouts/Layout.astro';
---

<Layout title="About us">
	<div class="px-[3rem] text-center py-[10rem]">
		<h1 class="text-[clamp(5rem,10dvw,8rem)] text-center">Machlist</h1>

		<h2 class="text-[4rem] text-start font-bold">About Us:</h2>
		<hr />
		<p class="text-[3rem] text-pretty">
			Machlist is an Egyptian company established at 2005 in Cairo for
			machines and production lines.
			<br />
			We have designed and manufactured a large collection of machines mad
			production lines like soap lines, roll forming line, wire drawing line,
			steel wool line, spring machine, wheelchair lift, simulators and many
			other machines and production lines.
		</p>

		<div class="my-[5rem]"></div>

		<h2 class="text-[4rem] text-start font-bold">Our Vision:</h2>
		<hr />
		<p class="text-[3rem] text-pretty">
			Our vision is to become a leading company in the field of industrial
			machines and production lines design, manufacture and supply, we aim
			to be the best in the market and to provide our customers with the
			best solutions for their needs.
		</p>
	</div>
</Layout>
