---
import SectionLayout from "@layouts/SectionLayout.astro";
import Line from "@components/svelte/Line.svelte";
---

<SectionLayout>
	<h1 class="text-[clamp(5rem,10dvw,8rem)] text-center md:text-start">
		How we do it?
	</h1>

	<div
		class="relative mt-[5rem] flex flex-col items-center justify-center w-full overflow-x-clip"
	>
		<Line client:only />
	</div>
</SectionLayout>
