---
import Layout from "@layouts/Layout.astro";
import FilteredProducts from "@components/FilteredProducts.astro";
---

<Layout title="Products">
	<h1 class="w-full mt-8 md:text-[5rem] text-[3rem] text-center">
		Our Products
	</h1>
	<FilteredProducts collection="products" />
</Layout>
