---
import LocaledContent from "./LocaledContent.astro";
const buttonStyles =
	"px-8 py-4 bg-skin-accent/50 rounded-lg text-center relative transition-all duration-150 shadow-md after:absolute after:bottom-0 after:left-0 after:w-0 after:h-2 after:bg-skin-base after:transition-all after:duration-150 after:border-inherit hover:after:w-full hover:underline hover:bg-skin-accent-1/80 hover:shadow-lg focus:after:w-full focus:underline focus:bg-skin-accent-1/80 focus:shadow-lg";
---

<LocaledContent>
	<Fragment slot="en">
		<a href="/en/contact" class={buttonStyles}> Contact us </a>
	</Fragment>
	<Fragment slot="ar">
		<a href="/ar/contact" class={buttonStyles}> تواصل معنا </a>
	</Fragment>
</LocaledContent>
