---
import { Icon } from "astro-icon/components";
---

<footer
	class="w-full mt-auto h-max p-8 flex flex-col gap-8 md:flex-row justify-between items-center md:items-start"
>
	<a href="/" class="text-[5rem] self-center text-center">
		<!-- <img
					class="w-full h-full"
					src="/logo-slogan-en.svg"
					alt="Logo"
				/> -->
		Machlist
	</a>
	<nav
		class="flex flex-col gap-4 items-center justify-center text-center text-nowrap"
	>
		<h1 class="text-[2rem]">Website</h1>
		<a
			class="hover:underline text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
			href="/"
		>
			Homepage
		</a>
		<a
			class="hover:underline text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
			href="/products"
		>
			Products
		</a>
		<a
			class="hover:underline text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
			href="/tailored_designs"
		>
			Tailored designs
		</a>
		<a
			class="hover:underline text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
			href="/contact"
		>
			Contact Us
		</a>
		<a
			class="hover:underline text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
			href="/about"
		>
			About Us
		</a>
	</nav>
	<div class="h-full flex flex-col gap-8 justify-between items-center">
		<h1 class="text-[2rem] text-center">Social Media</h1>
		<div class="w-full flex justify-center flex-wrap">
			<a
				href="https://www.facebook.com/Recyclink20"
				aria-label="Facebook"
				class="text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
			>
				<Icon class="size-16" name="ic:baseline-facebook" />
			</a>
			<a
				href="https://www.linkedin.com/company/recyclink308/"
				aria-label="Linked In"
				class="text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
			>
				<Icon class="size-16" name="ri:linkedin-box-fill" />
			</a>
		</div>
	</div>
	<div class="h-full flex flex-col gap-12 justify-between items-center">
		<h1 class="text-[2rem]">Location</h1>
		<div class="flex flex-col gap-8">
			<a
				target="_blank"
				href="#"
				class="flex items-center gap-4 text-start focus:underline hover:underline text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
			>
				<Icon name="ic:baseline-location-on" />
				<p>18 Omar Ibn El-khattab St. - Faisal - Giza</p>
			</a>
		</div>
	</div>
	<div class="h-full flex flex-col gap-8 justify-between items-center">
		<h1 class="text-[2rem]">Contact</h1>
		<div class="flex flex-col items-center gap-8">
			<a
				class="text-[2rem] flex items-center gap-4 flex-wrap justify-center focus:underline hover:underline text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
				href="https://wa.me/201000207471"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name="ic:baseline-whatsapp" />
				+20 100 020 7471
			</a>
			<a
				class="text-[2rem] flex items-center gap-4 flex-wrap justify-center focus:underline hover:underline text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
				href="https://wa.me/201150894307"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name="ic:baseline-whatsapp" />
				+20 115 089 4307
			</a>
			<a
				href="mailto:cadshop@cadsoul.com"
				class="flex items-center gap-4 text-center focus:underline hover:underline text-skin-base/50 focus:text-skin-base hover:text-skin-base transition-all duration-150"
			>
				<Icon name="ic:twotone-email" />
				cadshop@cadsoul.com
			</a>
		</div>
	</div>
</footer>

<style>
	footer {
		background-image: linear-gradient(
			225deg,
			hsla(var(--color-primary), 0.5),
			transparent
		);
		border-top: 3px solid hsl(var(--color-primary));
		border-image-slice: 1;
		border-image-source: linear-gradient(
			90deg,
			hsl(var(--color-accent)),
			hsl(var(--color-accent-1))
		);
	}
</style>
