<header
	class="flex gap-8 w-full justify-between items-center p-8 border-b-2 border-skin-base"
>
	<!-- <img src="/" alt="Machlist logo" /> -->
	<div class="text-[3rem] min-w-max">Machlist</div>
	<nav
		class="w-max flex py-4 px-2 gap-4 justify-center items-center overflow-x-auto overflow-y-visible whitespace-nowrap"
	>
		<a
			class="px-4 py-2 text-3xl text-nowrap min-w-max rounded-md transition-colors duration-150
				hover:bg-gradient-to-r from-skin-accent to-skin-accent-1 hover:shadow-md
				focus:bg-gradient-to-r focus:shadow-md"
			href="/">Homepage</a
		>
		<a
			class="px-4 py-2 text-3xl text-nowrap min-w-max rounded-md transition-colors duration-150
				hover:bg-gradient-to-r from-skin-accent to-skin-accent-1 hover:shadow-md
				focus:bg-gradient-to-r focus:shadow-md"
			href="/products">Products</a
		>
		<a
			class="px-4 py-2 text-3xl text-nowrap min-w-max rounded-md transition-colors duration-150
				hover:bg-gradient-to-r from-skin-accent to-skin-accent-1 hover:shadow-md
				focus:bg-gradient-to-r focus:shadow-md"
			href="/designs">Designs</a
		>
		<a
			class="px-4 py-2 text-3xl text-nowrap min-w-max rounded-md transition-colors duration-150
				hover:bg-gradient-to-r from-skin-accent to-skin-accent-1 hover:shadow-md
				focus:bg-gradient-to-r focus:shadow-md"
			href="/about">About Us</a
		>
		<a
			class="px-4 py-2 text-3xl text-nowrap min-w-max rounded-md transition-colors duration-150
				hover:bg-gradient-to-r from-skin-accent to-skin-accent-1 hover:shadow-md
				focus:bg-gradient-to-r focus:shadow-md"
			href="/contact">Contact us</a
		>
	</nav>
</header>
