<header
	class="flex gap-8 w-full justify-between items-center p-8 border-b-2 border-skin-base"
>
	<!-- <img src="/" alt="Machlist logo" /> -->
	<div class="text-[3rem] min-w-max">Machlist</div>
	<nav class="w-max">
		<ul
			class="flex gap-4 justify-center items-center overflow-auto whitespace-nowrap"
		>
			<li
				class="px-8 py-4 text-3xl hover:bg-skin-neutral hover:text-white text-nowrap min-w-max rounded-md transition-all duration-150"
			>
				<a href="/">Homepage</a>
			</li>
			<li
				class="px-8 py-4 text-3xl hover:bg-skin-neutral hover:text-white text-nowrap min-w-max rounded-md transition-all duration-150"
			>
				<a href="/products">Products</a>
			</li>
			<li
				class="px-8 py-4 text-3xl hover:bg-skin-neutral hover:text-white text-nowrap min-w-max rounded-md transition-all duration-150"
			>
				<a href="/designs">Designs</a>
			</li>
			<li
				class="px-8 py-4 text-3xl hover:bg-skin-neutral hover:text-white text-nowrap min-w-max rounded-md transition-all duration-150"
			>
				<a href="/about">About Us</a>
			</li>
			<li
				class="px-8 py-4 text-3xl hover:bg-skin-neutral hover:text-white text-nowrap min-w-max rounded-md transition-all duration-150"
			>
				<a href="/contact">Contact us</a>
			</li>
		</ul>
	</nav>
</header>
