<button onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
	<div
		class="flex items-center justify-center text-center font-black animate-bounce cursor-pointer p-8 rounded-full size-[5rem] text-[3rem] ring-2 ring-skin-neutral bg-gradient-to-b from-skin-accent to-skin-accent-1 shadow-lg z-20 fixed bottom-10 right-10"
	>
		&uarr;
	</div>
</button>
