<button onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
	<div
		class="flex items-center animate-bounce cursor-pointer p-8 rounded-full size-[5rem] text-[2rem] bg-skin-primary shadow-lg z-20 fixed bottom-10 right-10"
	>
		&uarr;
	</div>
</button>
