---
import { getLocaleByPath } from "astro:i18n";

const locale = Astro.currentLocale || getLocaleByPath(Astro.url.pathname);
---

<section
	class="md:px-[3rem] px-[1rem] py-[5rem] grid items-center relative md:min-h-[100dvh] md:h-max"
	data-aos="fade-down"
	dir={locale === "en" ? "ltr" : "rtl"}
>
	<slot />
</section>

<style>
	section {
		background-image: linear-gradient(
			225deg,
			hsla(var(--color-primary), 0.8),
			transparent
		);
		border-top: 5px solid hsl(var(--color-primary));
		border-image-slice: 1;
		border-image-source: linear-gradient(
			90deg,
			hsl(var(--color-accent)),
			hsl(var(--color-accent-1))
		);
	}
</style>
