<section
	class="md:px-[3rem] px-[1rem] py-[5rem] grid items-center mb-[2rem] relative md:min-h-[100dvh] md:h-max"
	data-aos="fade-down"
>
	<slot />
</section>

<style>
	section {
		border-bottom: 2px solid hsl(var(--color-primary));
	}
</style>

<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -7.5 100 15">
	<path d="M 0 0 C 0 10 40 10 50 0 C 60 -10 100 -10 100 0" stroke="#000" stroke-width="2" fill="none"/>
</svg> -->
