<section
	class="md:px-[3rem] px-[1rem] py-[5rem] grid items-center mb-[2rem] relative md:min-h-[100dvh] md:h-max"
	data-aos="fade-down"
>
	<slot />
</section>

<style>
	section {
		border-bottom: 2px solid hsl(var(--color-primary));
	}
</style>
